* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* .bottom-button:hover {
  border-radius: 29px;
  background: #b18bdd;
} */
body {
  font-family: "Red Hat Display", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5.4rem;
}
.top-main-img {
  width: 115%;
  margin-left: -2rem;
  margin-bottom: 4.8rem;
}
.top-main-img-tablet {
  display: none;
}
.top-left-img-desktop {
  display: none;
}
.top-right-img-desktop {
  display: none;
}
.top-main-div {
  padding: 0 2.4rem 0 2.4rem;
}
.h1-class {
  color: #28283d;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px; /* 110% */
  width: 10ch;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.4rem;
}
.top-div-parag {
  color: #87879d;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  margin-bottom: 3.2rem;
  margin-right: auto;
  margin-left: auto;
}
.middle-buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-in-middle {
  border: none;
  height: 5.8rem;
  border-radius: 29px;
  background: #4d96a9;
  width: 65%;
  color: #fff;
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  margin-bottom: 1.6rem;
}
.span-in-the-middle-button {
  margin-left: 0.4rem;
  color: #8fe3f9;
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}
.second-button-inthe-middle {
  height: 5.8rem;
  width: 55%;
  border: none;
  border-radius: 29px;
  background: #855fb1;
  color: #fff;
  text-align: center;
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  margin-bottom: 8rem;
}
.line {
  height: 8.4rem;
  width: 0.01rem;
  stroke-width: 1px;
  stroke: #87879d;
  opacity: 0.25;
  margin-left: auto;
  margin-right: auto;
}
.dot-01 {
  color: #87879d;
  font-size: 16px;
  font-weight: 900;
}
.four-images-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 2.4rem;
  gap: 2.4rem;
}
.girl-chatting {
  width: 100%;
  border-radius: 10%;
}
.old-women {
  width: 100%;
  border-radius: 10%;
}
.man-on-meeting {
  width: 100%;
  border-radius: 10%;
}
.boy-texting {
  width: 100%;
  border-radius: 10%;
}
.bottom-div {
  margin-top: 5.6rem;
  padding: 0 2.4rem;
}
.bottom-div-secondary-parag {
  color: #4d96a9;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.4rem;
}
.bottom-divs-h2 {
  color: #28283d;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  margin-bottom: 3.2rem;
}
.bottom-div-main-parag {
  color: #87879d;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  width: 29ch;
}
.bottom-circle-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  height: 5.6rem;
  width: 5.6rem;
  background: #fafafa;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9;
}
.bottom-hr {
  width: 0.01rem;
  height: 8.4rem;
  stroke-width: 1px;
  stroke: #87879d;
  opacity: 0.25;
  margin-top: 6.4rem;
  margin-left: auto;
  margin-right: auto;
}

.bottom-circle-text {
  color: #87879d;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}
.footer-class {
  padding: 7.5rem 2.4rem;
  background-image: url(./assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -8.5rem;
  padding-bottom: 5.2rem;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.footer-class::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgb(89 154 172 /0.8), rgb(89 154 172 /0.8));
  z-index: -1;
  /* mix-blend-mode: multiply; */
}
.footer-h2 {
  color: #fafafa;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px; /* 112.5% */
  margin-bottom: 2.4rem;
}
.footer-parag-class {
  color: #fafafa;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; /* 144.444% */
  margin-bottom: 3.2rem;
}
.bottom-button {
  border-radius: 29px;
  background: #855fb1;
  color: #fff;
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  height: 5rem;
}
.bottom-button-span {
  margin-left: 0.4rem;
  color: #d9b8ff;
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 900;
  line-height: 26px; /* 162.5% */
}
@media (min-width: 48em) {
  .top-main-img {
    display: none;
  }
  .top-right-img-desktop {
    display: none;
  }
  top-left-img-desktop {
    display: none;
  }
  .top-main-img-tablet {
    display: block;
    width: 105%;
  }
  .top-main-img-div {
    margin-bottom: 7.2rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .h1-class {
    color: #28283d;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 48px; /* 100% */
    margin-bottom: 2.4rem;
  }
  .top-div-parag {
    color: #87879d;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    width: 38ch;
  }
  .middle-buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-bottom: 8rem;
  }
  .button-in-middle {
    width: 30%;
    margin-bottom: 0;
  }
  .second-button-inthe-middle {
    width: 20%;
    margin-bottom: 0;
  }
  .four-images-div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 3.6rem;
    grid-template-rows: none;
    margin-bottom: 3rem;
  }
  .bottom-div-secondary-parag {
    margin-bottom: 1.6rem;
  }
  .bottom-divs-h2 {
    color: #28283d;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px; /* 110% */
    width: 15ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.2rem;
  }
  .bottom-div-main-parag {
    margin-left: auto;
    margin-right: auto;
    width: 54ch;
  }
  .bottom-hr {
    margin-top: 8rem;
  }
  .footer-class {
    background-image: url(./assets/tablet/image-footer.jpg);
    padding-top: 8.5rem;
  }
  .footer-h2 {
    color: #fafafa;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px; /* 110% */
    width: 12ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.2rem;
  }
  .footer-parag-class {
    width: 48ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
  }
  .bottom-button {
    width: 50%;
    background: #855fb1;
  }
  /* .bottom-button:hover {
    border-radius: 29px;
    background: #b18bdd;
  } */
}
@media (min-width: 90em) {
  .top-main-img-tablet {
    display: none;
  }
  body {
    background-image: url(./assets/desktop/image-hero-left.png),
      url(./assets/desktop/image-hero-right.png);
    background-position: top 15rem left, top 15rem right;
    background-repeat: no-repeat, no-repeat;
    padding-top: 8rem;
  }
  .top-main-div {
    margin-bottom: 11.8rem;
  }
  .h1-class {
    color: #28283d;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 64px; /* 100% */
    margin-bottom: 3.2rem;
  }
  .top-div-parag {
    color: #87879d;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    width: 45ch;
  }
  .button-in-middle {
    width: 17%;
    border-radius: 29px;
    background: #71c0d4;
  }
  .second-button-inthe-middle {
    width: 10%;
    border-radius: 29px;
    background: #b18bdd;
  }
  .four-images-div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .bottom-div {
    margin-bottom: 8rem;
  }
  .bottom-divs-h2 {
    width: 18ch;
  }
  .bottom-div-main-parag {
    color: #87879d;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
  }
  .footer-class {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-image: url(./assets/desktop/image-footer.jpg);
    padding: 10rem 0 10rem 0;
  }
  .bottom-button {
    width: 10%;
    margin: 0;
    background: #855fb1;
  }
  .footer-parag-class {
    width: 31ch;
  }
  .footer-parag-class {
    margin: 0;
  }
  .footer-h2 {
    margin: 0;
  }
  .bottom-button:hover {
    border-radius: 29px;
    background: #b18bdd;
  }
}
